.head{
    width:100%;
    background-color: black;
}
.header,.content{
    width:80%;
    margin: 0 auto 20px;
}

.name{
    float:left;
    width:50%;
    font-size:16px;
    color: #bbb;
}

.name small{font-size:12px;} 
.navigation{
    float: right;
}
.header::after{
    display: block;
    content: '';
    clear: both;
}
.navigation li{
    list-style: none;
    font-size: 14px;
    display: inline-block;
}

.navigation li a{
    text-decoration: none;
    color:#bbb;
}

.navigation a:hover{
    color:white;
}

.content-left{
    width:70%;
    padding:20px 30px;
    line-height: 1.5;
    background-color: #f8f8fd;
}

.content-left ul li a{
    text-decoration: none;    
}

a:hover{
    color:black;
}

.navigation ul li:last-child{
    display: none;
}
hr{
    opacity: 0.2;
}